.chat-container {
    height: 50vh;
    overflow-y: scroll;
}

.message-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

label[for=message-input] {
    margin: auto;
}

/* Style time text */
.time-right {
    color: #aaa;
}

/* Style time text */
.time-left {
    color: #999;
}